h1 {
  text-align: center;
}

p {
  text-align: center;
}

html,
body {
  color: #fff;
  margin: 0;
  font-family: sans-serif;
  font-weight: 100;
  background: linear-gradient(45deg, #49a09d, #5f2c82);
  height: 100%;
  background-attachment: fixed;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

table {
  width: 600px;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
}

.inputTable {
  width: 350px;
}

th,
td {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}

th {
  background-color: #55608f;
}

tr:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.button {
  background-color: white;
  border: none;
  color: #55618a;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  font-weight: 600;
  border-radius: 8px;
}

.button:hover {
  background-color: #3d4775;
  color: white;
}

.new_INPUT{
	padding: 5px 10px;
	border: 1px solid white;
	border-radius: 5px;
	outline: 0;
}


.new_INPUT:focus{
	border: 1px solid #49a09d;

}